{% extends '_layouts/cp' %}

{% do view.registerAssetBundle('webhubworks\\backup\\assetbundles\\backup\\BackupAsset') %}

{% set title = 'Backups'|t('backup') %}
{% set selectedSubnavItem = 'backup' %}

{% block main %}
<div class="content-grid__main">
    {% include 'backup/_status' %}
</div>
{% endblock %}
